/**
  |============================
  |  Body settings
  |============================
*/

body {
	color: var(--primarytext-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	padding-top: 0;
}

main {
}

.stepout {
	padding-top: 94px;
}
