/**
  |============================
  |  Section + Container settings
  |============================
*/

.section {
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 767.98px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	@media screen and (min-width: 1199.98px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

// .hero.section {
// 	padding-top: 0;
// }

.whatwedo {
	padding-top: 0;
	display: none;

	@media screen and (min-width: 1199.98px) {
		display: flex;
	}
}
