/**
  |============================
  |  Button
  |============================
*/

.hero-box__primary-btn {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	padding: 10px 32px;
	margin: auto;
	display: block;
	cursor: pointer;
	letter-spacing: 0.06em;
	color: var(--headerbackground-color);
	background-color: var(--primary-btncolor);
	transition-property: background-color, color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	outline: none;
	&:hover {
		color: var(--headerbackground-color);
		background-color: var(--logo-color);
		cursor: pointer;
		outline: 1px solid var(--headerbackground-color);
		/* border-color: 1px solid var(--headerbackground-color); */
	}
	&:focus {
		color: var(--headerbackground-color);
		background-color: var(--logo-color);
		cursor: pointer;
		outline: 1px solid var(--headerbackground-color);
		/* border-color: 1px solid var(--headerbackground-color); */
	}
}

// .hero-box__primary-btn:hover,
// .hero-box__primary-btn:focus {
// 	color: var(--headerbackground-color);
// 	background-color: var(--logo-color);
// 	cursor: pointer;
// 	outline: 1px solid var(--headerbackground-color);
// 	/* border-color: 1px solid var(--headerbackground-color); */
// }

.secondary-btn {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	padding: 6px 22px;
	margin: auto;
	display: block;
	cursor: pointer;
	color: var(--primarytext-color);
	background-color: var(--thethirdbgcolor);
	border-radius: 4px;
	border: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		color: var(--headerbackground-color);
		background-color: var(--logo-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
		border-radius: 4px;
	}
	&:focus {
		color: var(--headerbackground-color);
		background-color: var(--logo-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
		border-radius: 4px;
	}
}

// .secondary-btn:hover,
// .secondary-btn:focus {
// 	color: var(--headerbackground-color);
// 	background-color: var(--logo-color);
// 	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
// 		0px 2px 2px rgba(0, 0, 0, 0.12);
// 	border-radius: 4px;
// }

.modal__btn {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 8px;
	right: 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
	background-color: transparent;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	&:hover {
		fill: var(--logo-color);
	}
}

// .modal__btn:hover {
// 	fill: var(--logo-color);
// }

button .modal-label > .modal-comment-textarea::placeholder {
	color: rgb(169, 169, 169);
	font-size: 12px;
}

/* Modal buttons */
/* Submit */
.button.primary.modal-btn-submit {
	display: block;
	background-color: var(--accent-color);
	width: 200px;
	padding: 10px 52px;
	margin: 0 auto;

	margin-top: 30px;

	transition: background-color var(--transition-fast) var(--transition-function);
	&:focus {
		background-color: var(--button-active);
		box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
	}
}

// .button.primary.modal-btn-submit:focus {
// 	background-color: var(--button-active);
// 	box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
// }

/* Close */
.modal-btn-close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
}

.modal-icons {
	transition: fill var(--transition-fast) var(--transition-function);
}

.button.primary.modal-btn-submit {
	display: block;
	background-color: var(--accent-color);
	width: 200px;
	padding: 10px 52px;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 30px;

	transition: background-color var(--transition-fast) var(--transition-function);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	border-radius: 4px;
	color: var(--primary-white-color);
	border: none;

	&:hover {
		background-color: var(--button-active);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	}
}

// .button.primary.modal-btn-submit:hover {
// 	background-color: var(--button-active);
// 	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }

/* Subscribe button */
.subscribe-button {
	padding: 10px 28px;

	display: flex;
	align-items: center;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	transition: background-color var(--transition-fast) var(--transition-function);
	&:hover {
		background-color: var(--button-active);
	}
	&:focus {
		background-color: var(--button-active);
	}
}

// .subscribe-button:hover,
// .subscribe-button:focus {
// 	background-color: var(--button-active);
// }

.send-button-icon {
	margin-left: 10px;
}

//  Burger button

.header__menu-btn {
	display: flex;
	position: absolute;

	padding: 0;
	width: 40px;
	height: 40px;
	top: 10px;
	right: 15px;
	margin-left: auto;
	align-items: center;

	justify-content: center;
	border: none;
	background-color: transparent;
}

.header__menu-icon {
}
