/**
  |============================
  |  Our Clients
  |============================
*/

/* .clients {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  width: 1170px;
  height: 184px;
  margin-top: 94px;
} */

.subject.clients {
	/* margin-top: 94px; */
	margin-bottom: 50px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: calc(33 / 28);
}

.clients__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	gap: 30px 30px;

	/* border: 1px solid var(--iconborder-clients);
  border-radius: 4px; */
	margin: 0px;
	padding: 0px;

	&-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 210px;
		height: 92px;
		width: calc((100% - 30px) / 2);
	}
	&-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 170px;
		height: 92px;
		border: 1px solid var(--iconborder-clients);
		border-radius: 4px;
		outline: transparent;
		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover {
			border-color: var(--logo-color);
			transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		&:focus {
			border-color: var(--logo-color);
			transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
}

// .clients__list-item {
// 	width: 170px;
// 	height: 92px;
// }

// .clients__list-link {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	width: 170px;
// 	height: 92px;
// 	border: 1px solid var(--iconborder-clients);
// 	border-radius: 4px;
// 	outline: transparent;
// 	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

.clients__item-icon {
	fill: var(--iconcolor-grey);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .clients__list-link:hover,
// .clients__list-link:focus {
// 	border-color: var(--logo-color);
// 	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

.clients__list-link:hover .clients__item-icon,
.clients__list-link:focus .clients__item-icon {
	fill: var(--logo-color);
}
