/**
  |============================
  |  Socials
  |============================
*/

.socials__list {
	margin-top: 16px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.socials__list-link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 44px;
	height: 44px;

	background-color: var(--headerbackground-color);
	border-radius: 50%;
	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		background-color: var(--logo-color);
	}
	&:focus {
		background-color: var(--logo-color);
	}
}

.socials__item-icon {
	fill: var(--iconcolor-grey);
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		fill: var(--headerbackground-color);
		background-color: var(--logo-color);
	}
	&:focus {
		fill: var(--headerbackground-color);
		background-color: var(--logo-color);
	}
}

// .socials__list-link:hover .socials__item-icon {
// 	fill: var(--headerbackground-color);
// 	background-color: var(--logo-color);
// }

// .socials__list-link:hover {
// 	background-color: var(--logo-color);
// }

// .socials__list-link:focus,
// .socials__link-link:hover {
// 	background-color: var(--logo-color);
// }

// .socials__list-link:focus .socials__item-icon {
// 	fill: var(--headerbackground-color);
// 	background-color: var(--logo-color);
// }

.userpic {
	/* just in case of something on your mind */
}
