/**
  |============================
  |  Our benefits section
  |============================
*/

.features__list {
	display: flex;
	flex-direction: column;
	text-align: center;
	list-style: none;
	align-content: center;
	gap: 30px;

	@media screen and (max-width: 479.98px) {
		flex-direction: row;
		flex-wrap: wrap;
	}

	@media screen and (min-width: 767.98px) {
		flex-direction: row;
		flex-wrap: wrap;
	}

	&-item {
		@media screen and (min-width: 767.98px) {
			width: calc((100% - 30px) / 2);
		}

		@media screen and (min-width: 1199.98px) {
			width: 270px;
		}

		// width: 270px;
		// width: calc((100% - 30px) / 2);
		// display: flex;
		// flex-direction: column;
		// text-align: center;
		// list-style: none;
		// gap: 30px;
	}
}

// .features__list-item {
// 	width: 270px;
// }

// .features__list-item:not(:last-child) {
// 	margin-right: 30px;
// }

.feature__list-title {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 10px;
	text-align: center;
}

.feature__list-text {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-align: start;
	color: var(--secondarytext-color);
}

// &.text {
// 	font-family: 'Roboto';
// 	font-size: 14px;
// 	line-height: 1.71;
// 	letter-spacing: 0.03em;
// 	text-align: start;
// 	color: var(--secondarytext-color);
// }

// .feature__list-text {
// 	font-family: 'Roboto';
// 	font-size: 14px;
// 	line-height: 1.71;
// 	letter-spacing: 0.03em;
// 	text-align: start;
// 	color: var(--secondarytext-color);
// }

.benefits__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;

	// width: 270px;
	max-width: 450px;
	height: 120px;

	background-color: var(--thethirdbgcolor);
	border-radius: 4px;
}

.benefits__icon-svg {
	fill: var(--primarytext-color);
}

/**
	|============================
	|  Portfolio Page
	|============================
*/

.benefits.section {
	padding-top: 0;

	@media screen and (min-width: 1199.98px) {
		padding-top: 94px;
	}
}

.benefits__gallery {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* padding-top: 94px; */
	&-list {
		list-style: none;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 40px;
		flex-wrap: wrap;
		gap: 8px;

		@media screen and (min-width: 767.98px) {
			justify-content: center;
			align-items: center;
			align-content: center;
		}

		@media screen and (min-width: 1199.98px) {
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 34px;
		}
	}
}

// .benefits__gallery-list {
// 	list-style: none;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	margin-bottom: 34px;
// }

.benefits__gallery-item:not(:last-child) {
	margin-right: 8px;
}
