/**
  |============================
  |  Contacts
  |============================
*/

.header-contacts {
	display: none;
	list-style: none;
	// display: flex;

	@media screen and (min-width: 767.98px) {
		display: flex;
		flex-wrap: wrap;
		padding-right: 15px;
		margin-left: 96px;
	}

	@media screen and (min-width: 1199.98px) {
		padding: 0;
		gap: 30px;
	}
}

.header__box {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-contacts__item {
	@media screen and (min-width: 767.98px) {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	@media screen and (min-width: 1199.98px) {
		&:not(:last-child) {
			margin-bottom: 0;
		}
	}
}

.header-contacts__item-link {
	display: flex;
	align-items: center;
	padding: 15px 25px;
	font-family: 'Roboto';
	text-decoration: none;
	font-weight: 500;
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.02em;
	cursor: pointer;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	color: var(--secondarytext-color);
	&:hover {
		color: var(--logo-color);
	}
	&:focus {
		color: var(--logo-color);
	}

	@media screen and (min-width: 767.98px) {
		padding: 0;
	}

	@media screen and (min-width: 1199.98px) {
		font-size: 14px;
		line-height: calc(16 / 14);
	}
}

// .header-contacts__item-link:hover,
// .header-contacts__item-link:focus {
// 	color: var(--logo-color);
// }

.phone-icon,
.email-icon {
	margin-right: 10px;
	fill: var(--secondarytext-color);
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__item-link:hover .phone-icon,
.header-contacts__item-link:focus .phone-icon,
.header-contacts__item-link:hover .email-icon,
.header-contacts__item-link:focus .email-icon {
	fill: var(--logo-color);
}
